body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
}

h1{
    text-align: center;
}

.p1{
    text-align: center;
}

form{
    margin: auto;
    border: solid 2px white;
    width: 35%;
    height: 560px;
    text-align: cener;
}

.submit{
    width: 115px;
    height: 30px;
    margin-left: 405px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.submit:hover{
    background-color: #f87229;
    cursor: pointer;
}