body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

table{
    margin: auto;
    width: 50%;
    height: 120px;
    border: solid 1px white;
    border-collapse: collapse;
}

td{
    border: solid 1px white;
}