body{
    margin-top: 30px;
    background-color: #241f62;
    color: white;
    text-align: center;
}

form{
    border: solid 2px white;
    border-radius: 8px 8px 8px 8px;
    width: 500px;
    min-height: 290px;
    padding: 15px 10px;
    margin: auto;
    background: linear-gradient(65deg, rgb(121, 45, 129) 1.6%, rgb(36, 31, 98) 30.4%);
}

.div1{
    width: 500px;
    min-height: 10px;
    border: solid 2px white;
    border-radius: 8px 8px 8px 8px;
    padding: 10px;
    margin: auto;
    background: linear-gradient(-65deg, rgb(121, 45, 129) 1.6%, rgb(36, 31, 98) 30.4%);
}

input{
    margin: auto;
    display: block;
    border: none;
    border-radius: 3px 3px 3px 3px;
    width: 215px;
    height: 25px;
    font-size: 16px;
}

.submit{
    width: 94px;
    height: 30px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.submit:hover{
    background-color: #f87229;
    cursor: pointer;
}

.download{
    width: 94px;
    height: 30px;
    color: white;
    background-color: #08b851;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.download:hover{
    background-color: #0dcc5d;
    cursor: pointer;
}

.delete{
    width: 94px;
    height: 30px;
    color: white;
    background-color: #ca2e23;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.delete:hover{
    background-color: #e73e32;
    cursor: pointer;
}

.empty{
    font-size: 21px;
    font-weight: bold;
    padding: 8px;
}

.empty:hover{
    cursor: pointer;
}