body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

table, tr, td, th{
    width: 950px;
    height: 50px;
    border: solid 1px white;
    margin: auto;
    border-collapse: collapse;
}

.submit{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.submit:hover{
    background-color: #f87229;
    cursor: pointer;
}