body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

.word{
    background-color: gold;
    text-align: center;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: #491895;
}

.div1{
    margin: auto;
    border: solid 2px white;
    border-radius: 8px 8px 8px 8px;
    width: 250px;
    height: 49px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: gold;
}

.info {
    margin: 10px;
}

.reset{
    width: 70px;
    height: 25px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.reset:hover{
    background-color: #f87229;
    cursor: pointer;
}

.check{
    width: 70px;
    height: 25px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.check:hover{
    background-color: #f87229;
    cursor: pointer;
}
