body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
}

form{
    margin: auto;
    padding: 5px;
    padding-left: 20px;
    width: 36%;
    min-height: 495px;
    border: solid 1px white;
}

.error{
    color: red;
}