body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

.table1{
    border-collapse: collapse;
    padding: 8px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.table2{
    border-collapse: collapse;
    padding: 8px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

tr, th{
    border: solid 3px white;
    padding: 6px;
}

tr, td{
    border: solid 3px white;
    padding: 6px;
}

.p1{
    font-size: 19px;
}

input{
    width: 95%;
    margin: auto;
    border: none;
    margin-bottom: 1px;
    font-size: 18px;
}

.inputt{
    background-color: grey;
}

button{
    width: 170px;
    height: 40px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

button:hover{
    background-color: #f87229;
    cursor: pointer;
}

a{
    color: white;
}