body{
    margin: 0;
    padding: 0;
}

.main{
    border: solid 1px black;
    width: 60%;
    height: 100vh;
    margin: auto;
    /* ერთმანეთის გვერდიგვერდ რომ იყოს */
    display: flex; 
}

.nav{
    background-color: antiquewhite;
    width: 20%;
    border-right: solid 3px lightseagreen;
}

.nav ul li{
    list-style: none;
    margin-top: 10px;
}

.nav ul li a{
    text-decoration: none;
}

.nav ul li a:hover{
    color: black;
    text-decoration: underline;
}

.content{
    background-color: aquamarine;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}

.datatable{
    width: 100%;
    /* მოვაშორე ხაზებს შორის დაშორებები */
    border-collapse: collapse; 
}

.datatable td{
    border-bottom: 1px solid gray;
    padding: 10px;
    background-color: azure;
}