header, nav, footer, .content{
    width: 60%;
    border: solid 1px black;
    margin: auto;
    margin-bottom: 10px;
}

nav{
    min-height: 40px; 
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    list-style: none;
    /* ერთ ხაზზე რომ იყოს. */
    display: inline-block; 
    margin: 8px;
}

.content{
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: aqua;
}

footer{
    height: 40px;
    background-color: aqua;
}