body{
    margin-top: 30px;
    background-color: #241f62;
    color: white;
    text-align: center;
}

.container{
    width: 550px;
    min-height: 10px;
    border: solid 2px white;
    border-radius: 8px 8px 8px 8px;
    background: linear-gradient(-65deg, rgb(121, 45, 129) 1.6%, rgb(36, 31, 98) 30.4%);
    margin: 10px auto;
    padding: 10px;
    justify-content: space-between;
}

.container div{
    flex-grow: 20%;
}