form{
    border: solid 1px black;
    width: 50%;
    margin: auto;
    padding: 10px;
}

table{
    border: solid;
    margin: auto;
    border-collapse: collapse;
}

table td, th{
    border: solid 1px;
    padding: 8px;
}