body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

table{
    width: 500px;
    height: 250px;
    border: solid 1px white;
    margin: auto;
    border-collapse: collapse;
}

td{
    border: solid 1px white;
}