body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

table{
    margin: auto;
    width: 50%;
    height: 120px;
    /* outside */
    border: solid 1px white;
}

td{
    /* inside */
    border: solid 1px white;
}

.button{
    width: 75px;
    height: 28px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.button:hover{
    background-color: #f87229;
    cursor: pointer;
}