body{
    margin: 0;
    padding: 0;
    background-color: #634351;
}

.main{
    border: solid 2px white;
    width: 60%;
    min-height: 400px;
    margin: auto;
    /* ერთმანეთის გვერდიგვერდ რომ იყოს */
    display: flex; 
    color: black;
}

.nav{
    background-color: #75a88d;
    width: 20%;
    border-right: solid 3px white;
}

.nav ul li{
    list-style: none;
    margin-top: 10px;
}

.nav ul li a{
    text-decoration: none;
    font-style: italic;
    color: white;
}

.nav ul li a:hover{
    text-decoration: underline;
}

.content{
    background-color: #75a88d;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
}

.datatable{
    width: 100%;
    /* მოვაშორე ხაზებს შორის დაშორებები */
    border-collapse: collapse; 
}

.datatable td, th{
    border-bottom: 1px solid gray;
    padding: 10px;
    background-color: #ca786d;
}


.input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

.inputbutton{
    width: 105px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    background-color: #ff666c;
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}

.inputbutton:hover{
    cursor: pointer;
    background-color: #f17d81;
}