body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

button{
    width: 90px;
    height: 30px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

button:hover{
    background-color: #f87229;
    cursor: pointer;
}
