body{
    margin-top: 30px;
    background-color: #241f62;
    color: white;
    text-align: center;
}

form{
    border: solid 2px white;
    border-radius: 8px 8px 8px 8px;
    width: 500px;
    min-height: 460px;
    padding: 20px 10px;
    margin: auto;
    background: linear-gradient(65deg, rgb(121, 45, 129) 1.6%, rgb(36, 31, 98) 30.4%);
}

input{
    margin: auto;
    display: block;
    border: none;
    border-radius: 3px 3px 3px 3px;
    width: 215px;
    height: 25px;
    font-size: 16px;
}

.submit{
    width: 94px;
    height: 30px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.submit:hover{
    background-color: #f87229;
    cursor: pointer;
}