body{
    margin-top: 30px;
    background-color: #491895;
    color: white;
    text-align: center;
}

.check{
    width: 80px;
    height: 30px;
    color: white;
    background-color: #f25808;
    border: none;
    border-radius: 7px 7px 7px 7px;
    font-size: 13px;
    font-weight: bold;
}

.check:hover{
    background-color: #f87229;
    cursor: pointer;
}
